.App {
  display: flex;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.App-content {
  margin-left: 250px;
  padding: 20px;
  flex: 1;
}

.App-logo {
  width: 150px;
  height: auto;
  margin: 20px 0;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  color: white;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
}

